@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    height: 80px;
    background: #2c3e50;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    list-style: none;
}
nav>img{
    height: 80px;
    margin-left: 20px;
}
label #btn,
label #cancel{
color: white;
font-size: 30px;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
    display: none;
}
nav ul li a{
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 22px;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
body{
    /* overflow-x: hidden; */
    background: #eee;
}
.chk{
    background-color: transparent;
    border: none;
}
#cont{
    margin-bottom: 50px;
}
#first{
    height: auto;
    margin-top: 70px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}
#gl{
    display: flex;
    margin-top: 25px;
    width: 20%;
    justify-content: space-between;
}
#gl>a{
    display: block;
    margin-left: 3%;
    width: 35px;
    height: 35px;
}
#intro>h1{
    margin-bottom: 12px;
    font-size: 60px;
}
#sudip{
    color: #3470e4;
}
#intro{
    width: 45%;
}
#profilepic{
    width: 45%;
    display: flex;
    align-items: center;
}
#profilepic>img{
    border-radius: 60%;
    height: 90%;
    display: block;
    margin: auto;
    max-width: 110%;
}
#resume{
    padding: 10px 45px;
    border-radius: 5px;
    border: none;
    background-color: #3470e4;
    margin-top: 5%;
}
#resume>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#resume:hover{
    background-color: #5588ed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#about_me{
    text-align: center;
    padding: 0% 28%;
    margin-top: 100px;
}
.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.mail>img{
width: 4%;
}
#about_me>div>h3{
    margin-left: 1%;
}
#about_me>div>p{
    font-size: 20px;
    margin-right: 1%;
}
#about_me>h1{
    color: #3470e4;
    text-decoration: underline;
    text-decoration-color: #3470e4;
    margin-bottom: 30px;
    font-size: 40px;
}
#about_me>h2{
    font-size: 30px;
}
#about_me>p{
    font-size: 20px;
    line-height: 35px;
    margin-top: 30px;
}
#lg>a{
    display: block;
    margin-left: 3%;
    width: 35px;
    height: 35px;
}
#link{
    width: 100%;
}
#git{
    width: 100%;
}
#lg{
    display: flex;
    margin-top: 3%;
}
#tech_stack{
width: 80%;
margin: auto;
margin-top: 100px;
margin-bottom: 100px;
}
#tech_stack>div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#tech_stack>div:first-child>h1{
    color: #3470e4;
    text-decoration: underline;
    text-decoration-color: #3470e4;
    font-size: 40px;
    margin-left: 3%;
}
#tech_stack>div:first-child>img{
width: 5%;
}
#tech_stack>div:last-child{
    width: 60%;
    margin: auto;
}
#firsthalf{
    display: flex;
    justify-content: center;
    width: fit-content;
    justify-content: space-around;
    padding: 0% 5%;
}
#secondhalf{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: fit-content;
    justify-content: space-around;
    padding: 0% 7%;
}
#tech_stack>div:last-child>div>img{
    width: 10%;
}
.skillbar{
    display: grid;
    height: 100%;
    margin: auto;
    margin-top: 4%;
    width: 70.2%;
    border-radius: 10px;
    padding: 25px 30px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.skillbar>h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #3470e4;
    color: #3470e4;
    font-size: 40px;
}
.skillbar .bar{
    margin: 20px 0px;
}
.skillbar .bar:first-child{
    margin-top: 0px;
}
.skillbar .bar .info span{
    font-size: 25px;
    font-weight: 600;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}
.skillbar .bar .info{
    margin-bottom: 5px;
}
.skillbar .bar .pl{
position: relative;
height: 10px;
width: 100%;
transform: scaleX(0);
transform-origin: left;
background: #f0f0f0;
box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                  0px 1px rgba(255, 255, 255, 0.8);
animation: animate 1s cubic-bezier(1,0,0.5,1)forwards;
}

.bar .pl span{
    height: 100%;
    width: 80%;
    background: #6665ee;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1)forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1); 
    }
}
.pl.java span{
    width: 60%;
}
.pl.sb span{
    width:80%;
}
.pl.sql span{
    width: 80%;
}
.pl.html span{
    width: 90%;
}
.pl.css span{
    width: 60%;
}
.pl.js span{
    width: 80%;
}
.pl.c span{
    width: 50%;
}
.bar .pl span::before{
    position: absolute;
    height: 0;
    width: 0;
    right: 0;
    top: -10;
    content: "";
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.bar .pl span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    background: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
    100%{
        opacity: 1;
    }
}
.pl.java span::after{
    content: "60%";
}
.pl.sb span::after{
    content: "80%";
}
.pl.sql span::after{
    content: "80%";
}
.pl.html span::after{
    content: "90%";
}
.pl.css span::after{
    content: "60%";
}
.pl.js span::after{
    content: "80%";
}
.pl.c span::after{
    content: "50%";
}
{
    
}
/* projects */
#projects,#cont{
        margin-top: 100px;
}
#projects>h1, #cont>h1{
    color: #3470e4;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #3470e4;
    font-size: 40px;
}
.swiper {
    width: 50%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 1.5%;
    position: fixed;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 80%;
    background: white;
  }
.swiper-wrapper{
    width: 40%;
}
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .swiper-slide>div>p{
    font-size: 20px;
    margin-top: 4%;
  }
  .swiper-slide>div>p:last-of-type{
    margin-bottom: 4%;
  }
  .swiper-slide>div{
    padding: 0px 10px;
  }
  .swiper-slide>div>.buttons{
      margin: auto;
      display: flex;
      gap: 10px;
      width: 35%;
      margin-bottom: 10px;
  }
  .swiper-slide>div>.buttons>a{
    text-decoration: none;
  }
  .buttons{
    display: flex;
    justify-content: space-around;
  }
  .swiper-slide>div>.buttons>a>button{
    font-size: 20px;
    color: white;
    background-color: #3470e4;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .swiper-slide>h1{
    padding-left: 10px;
  }
  .swiper-slide>div>.buttons>a>button:hover{
    background-color: #5588ed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
#contact{
    padding: 10px 45px;
    border-radius: 5px;
    border: none;
    background-color: #3470e4;
    margin-top: 5%;
    display: block;
    margin: auto;
    margin-top: 100px;
}
#contact>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#contact:hover{
    background-color: #5588ed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#also{
    width: 40%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}
#gitcal{
    width: 70.2%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    background: #fff;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#gitcal>h1{
color: #3470e4;
font-size: 40px;
text-align: center;
margin-bottom: 50px;
text-decoration: underline;
text-decoration-color: #3470e4;
}

#quali{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    background-color: #4c4177;
    background-image: linear-gradient(315deg,#4c4177 0%, #2a5470 74%);
}
#quali>.con{
    padding: 2rem;
    padding-bottom: 400px;
    margin: 0 auto;
    max-width: 800px;
}
.top{
    text-align: center;
    padding: 4rem 0;
    max-width: 600px;
    margin: 0 auto;
}
.top>h1{
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: white;
}
.top>p{
    font-size: 20px;
}
.timeline{
    position: relative;
    min-height: 150px;
}
.line{
    position: absolute;
    z-index: 2;
    left: calc(50%);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: #000;
    display: none; 
}
.cont>h2{
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: white;
}
.cont>p{
    font-size: 16px;
}
.line:before,
.line:after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
}
.line:after{
    bottom: 0;
}
.sec{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-width: 300px;
}
.sec:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
}
.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}
.cont{
    width: calc(49.99%);
}
.sec:nth-child(odd)>.cont>h2,
.sec:nth-child(odd)>.cont>p{
    padding-left: 15px;
}
.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}
.top>h1{
    font-weight: 400;
    letter-spacing: 1px; 
}
#address{
    width: 40%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
#address>h1{
    font-size: 40px;
    color: #3470e4;
    text-decoration: underline;
    text-decoration-color: #3470e4;
}
#address>p{
    font-size: 25px;
    margin-top: 50px;
}
#about_me{
    margin-bottom: 100px;
}
#main{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.container{
    padding: 50px;
    margin: auto;
    background: lightgrey;
    width: 50%;
    height: 100%;
}
form{
display: flex;
flex-direction: column;
align-items: center;
}
form>input , form>textarea{
    border: 0;
    margin: 10px 0;
    padding: 8px 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    width: 100%;
    outline: none;
}
form button{
    padding: 10px 20px;
    background-color: #3470e4;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 40%;
    margin-top: 20px;
    border-radius: 30px;

}
form button:hover{
    background-color: #5588ed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#form>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 100%;
}
#form>div>div>input{
    display: block;
    width: 100%;
    border: 0;
    margin: 10px 0;
    padding: 8px 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 20px;
    width: 85%;
    outline: none;
    border-radius: 5px;
}
label{
    font-size: 25px;
    font-weight: bold;
    color: #3470e4;
}
textarea{
    font-size: 20px;
    border-radius: 10px;
}

#scnd{
    width: 35%;
}
#scnd>div:first-child>h1{
    margin-bottom: 30px;
    color: white;
}
#scnd>div:first-child{
    background-color: #0e3959;
    padding: 20px;
    margin-bottom: 20px;
}
#scnd>div:last-child>iframe{
width: 100%;
}
.in{
    display: flex;
    padding:20px;
    align-items: center;
}
.in:nth-of-type(1){
    padding:10px;
}
.in>img{
width: 7%;
}
.in>h3{
    margin-left: 15px;
    font-size: 20px;
    color: white;
    max-width: 70%;
}
#lg>a{
    display: block;
    margin-left: 3%;
    width: 35px;
    height: 35px;
}
#link{
    width: 100%;
}
#git{
    width: 100%;
}
#wa{
    width: 100%;
}
#lg{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}
#phn{
    position: relative;
    left: -5px;
}
#em{
    position: relative;
    left: -6px;
}
#form>h1{
    color: #3470e4;
    text-decoration: underline;
    text-decoration-color: #3470e4;
    margin-bottom: 50px;
    font-size: 40px;
}
@media all and (min-width:853px) and (max-width:1024px) {
    #gl{
        width: 30%;
    }
    #main{
        width: 85%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        display: block;
    }
    .container{
        width: 80%;
        height: 100%;
    }
    #scnd{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    #about_me{
        text-align: center;
        padding: 0% 12%;
        margin-top: 100px;
    }
    .skillbar{
        width: 80%;
    }
    #gitcal{
        width: 80%;
    }
    #tech_stack{
        width: 90vw;
        margin: auto;
        margin-top: 100px;
    }
    #tech_stack>div:last-child{
        width: 100%;
    }
    #tech_stack>div:last-child>div>img{
        width: 15%;
    }
    #secondhalf{
        margin-top: 30px;
    }
    #intro{
        width: 48%;
    }
    #profilepic{
        width:48%;
    }
    #profilepic>img{
        height: auto;
        width: fit-content;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 40vw;
        height: 80%;
        background: white;
        padding:0px;
      }
      .swiper-slide>div>.buttons>a>button{
        font-size: 1.2em;
        color: white;
        background-color: #3470e4;
        border: none;
        padding: 5px 15px;
        border-radius: 10px;
        margin-left: 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .buttons{
        margin: auto;
        display: flex;
        justify-content:center;
        gap: 10%;
      }
}
@media all and (min-width:320px) and (max-width:852px){
    .in{
        padding-left: 0%;
    }
    #form>div{
        display: block;
        width: 100%;
    }
    #main{
        flex-direction: column;
        width: 100%;
    }
    .container{
        padding: 10px;
        margin:0;
        width: 97%;
        height: auto;
    }
    textarea{
        padding: 0%;
    }
    #im{
        position: relative;
        left: -15px;
    }
    #scnd{
        width:100%;
        margin-top: 50px;
    }
    .in>h3{
        margin-left: 10px;
    }
    .swiper {
        width: 85%;
        height: fit-content;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 1.5%;
        position: fixed;
        z-index: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
      }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 80vw;
        height: fit-content;
        background: white;
        padding-bottom: 10px;
      }
      .swiper-slide>div>.buttons>a>button{
        font-size: 1.2em;
        color: white;
        background-color: #3470e4;
        border: none;
        padding: 5px 15px;
        border-radius: 10px;
        margin-left: 3%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .buttons{
        margin: auto;
        display: flex;
        justify-content:center;
        gap: 10%;
      }
    #quali{
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1.5;
        font-weight: 400;
        color: white;
        background-color: #4c4177;
        background-image: linear-gradient(315deg,#4c4177 0%, #2a5470 74%);
        margin: auto;
    }
    #quali>.con{
        padding: 0;
        padding-bottom: 400px;
        margin: 0 auto;
    }
    .top{
        text-align: center;
        padding: 4rem 0;
        max-width: 600px;
        margin: 0 auto;
    }
    #quali>.timeline{
        border: 1px solid white;
        margin: auto;
    }
    .line{
        position: absolute;
        z-index: 2;
        left: calc(50%);
        width: 2px;
        top: -50px;
        bottom: -50px;
        background-color: #000;
        margin: auto;
        display: none; 
    }
    .line:before,
    .line:after{
        position: absolute;
        display: block;
        content: '';
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: #000;
        left: 50%;
        transform: translateX(-50%);
    }
    .line:after{
        bottom: 0;
    }
    .sec{
        display: flex;
        opacity: 0;
        transform: translateX(-100%);
        transition: 600ms ease;
        position: relative;
        z-index: 1;
        border-radius: 1rem;
        align-items: center;
    }
    .sec:nth-child(odd){
        flex-direction: row-reverse;
        transform: translateX(100%);
    }
    .bead{
        position: absolute;
        display: block;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background-color: #000;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
    }
    .cont{
        width: calc(50%);
    }
    .sec:nth-child(even)>.cont>h2,
    .sec:nth-child(even)>.cont>p{
        margin: 0;
        padding: 0;
        margin-right: 7px;
    }
    .sec:nth-child(odd)>.cont>h2,
    .sec:nth-child(odd)>.cont>p{
        margin: 0;
        padding: 0;
        padding-left: 8px;
    }
    .show-me:nth-child(n){
        transform: none;
        opacity: 1;
    }
    .top>h1{
        font-weight: 400;
        letter-spacing: 1px; 
    }
    #first{
        display: block;
        margin-bottom: 10%;
        border-radius: 10px;
        margin: auto;
    }
    .skillbar{
        width: 88%;
        position: relative;
        z-index: 0;
    }
    .skillbar>h1{
        font-size: 30px;
    }
    #gitcal{
        width: 88%;
    }
    #gitcal>h1{
        font-size: 30px;
    }
    #intro>h1{
        text-align: center;
    }
    #intro{
        width: 90vw;
        padding: 0px;
    }
    #profilepic{
        width: 85%;
        margin: auto;
        margin-top: 50px;
        padding: 0;
    }
    #profilepic>img{
        display: block;
        height: 100%;
        margin: auto;
    }
    #resume{
        display: block;
        margin: auto;
    }
    #lg{
        justify-content: center;
        padding-right: 3%;
    }
    #about_me{
        padding:5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #tech_stack{
        width: 90%;
    }
    #tech_stack>div:last-child{
        width: 100%;
    }
    #tech_stack>div:last-child>div>img{
        width: 15%;
    }
    #secondhalf{
        margin-top: 30px;
    }
    nav ul li a{
    font-size: 20px;
    }

    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: #34495e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    #check:checked ~ ul{
     left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    #address{
        width: 90%;
    }
    .sec{
        display: flex;
        opacity: 0;
        transform: translateX(-100%);
        transition: 600ms ease;
        position: relative;
        z-index: 1;
        border-radius: 1rem;
        align-items:center;
        justify-content: space-between;
    }
    
    .line{
        position: absolute;
        z-index: 2;
        left: calc(50%);
        width: 2px;
        top: -50px;
        bottom: -50px;
        background-color: #000;
        margin: auto;
        display: block
    }
    .show-me:nth-child(n){
        transform: none;
        opacity: 1;
        display: block;
    }
    .sec:nth-child(odd){
        flex-direction: row-reverse;
        /* transform: translateX(100%); */
        transform:none;
    }
    #gl{
        margin: auto;
        margin-top: 20px;
    }
}